container_commands:
collectstatic:
  command: "django-admin.py collectstatic --noinput"
01_syncdb:
  command:"django-admin.py syncdb --noinput"
  leader_only:true
02migrate:
  command: "django-admin.py migrate"
  leader_only: true
99customize:
  command: "scripts/customize.sh"

# You can specify any key-value pairs in the aws:elasticbeanstalk:application:environment namespace and it will be 
# passed in as environment variables on your EC2 instances
option_settings:
"aws:elasticbeanstalk:application:environment":
  DJANGO_SETTINGS_MODULE: "awstest.settings"
  "application_stage": "staging"
"aws:elasticbeanstalk:container:python":
  WSGIPath: awstest/wsgi.py
  NumProcesses: 3
  NumThreads: 20
"aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "static/"



# - namespace:aws:elasticbeanstalk:container:python
#   option_name:WSGIPath
#   value:awstest/wsgi.py
# - option_name:DJANGO_SETTINGS_MODULE
#   value:awstest.settings
# - namespace:aws:autoscaling:launchconfiguration
#   option_name:none
#   value:none