container_commands:
01_syncdb:
  command:"django-admin.py syncdb --noinput"
  leader_only:true
option settings:
- namespace:aws:elasticbeanstalk:container:python
  option_name:WSIPath
  value:/awstest/wsgi.py
- option_name:DJANGO_SETTINGS_MODULE
  value:awstest.settings
- namespace:aws:autoscaling:launchconfiguration
  option_name:none
  value:none